.bg-container {
  background-color: #ffffff;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.lightMode-container {
  height: 200px;
  width: 400px;
  border: 1px solid #000000;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
}

.darkMode-container {
  height: 200px;
  width: 400px;
  border: 1px solid #000000;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #000000;
}

.light-mode-heading {
  font-family: 'Roboto';
  font-size: 26px;
  color: #000000;
  font-weight: bold;
}
.dark-mode-heading {
  font-family: 'Roboto';
  font-size: 26px;
  color: #ffffff;
  font-weight: bold;
}
.button {
  background-color: #ffffffde;
  color: #000000;
  border: 3px solid #000000;
  border-radius: 5px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 16px;
  font-family: 'Roboto';
  cursor: pointer;
  outline: none;
}
